.home{
  background-color: aquamarine;
  min-width: 98%;
  min-height: 98%;
}
.home .title {

  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}
.home .subtitle {
  font-size: 1.1em;
}
.logo {
  max-height: 32px;
}
