
<mat-card>
  <mat-card-title>Excluir Animal</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Espécie" [value]="animal.especie" name="especie" disabled />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sexo" [value]="animal.sexo" name="sexo" disabled/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nome" [value]="animal.nome" name="nome" disabled/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nome do pai" [value]="animal.nomedopai" name="nomedopai" disabled/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nome da mãe" [value]="animal.nomedamae" name="nomedamae" disabled/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Aniversário" [value]="animal.aniversario" name="aniversario" disabled/>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteAnimal()" color="warn">
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>

